/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family:'Manrope', sans-serif;
    --body-bg:hsl(210, 46%, 95%);
    --paragraph-color:hsl(214, 17%, 51%);
    --heading-color:hsl(217, 19%, 35%);
    --share-bg:hsl(210, 46%, 95%);
}

body {
    background-color: var(--body-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    /* border:1px solid red; */
    max-width:980px;
    height:50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3rem;
}

.product-image {
    flex: 1 1 20rem;
    max-width: 100%;
    height: 100%;
    border-radius:3rem 0 0 3rem;
}

.text-div {
    position: relative;
    flex:1 1 20rem;
    padding: 2rem;
    /* width: 100%; */
    max-height:100%;
    background-color: white;
    border-radius: 0 3rem 3rem 0;
}

h1 {
    font-size:2.6rem;
    margin-bottom:3rem;
    color: var(--heading-color);
}

p {
    color: var(--paragraph-color);
}

.text-div > p {
    font-size:1.6rem;
    line-height:1.4;
    margin-bottom: 4.5rem;
}

.author-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar-div {
    display: flex;
    align-items: center;

}

.author-name {
    font-size:1.6rem;
    font-weight: 700;
}
.avatar-image {
    width:6rem;
    height:6rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.share-div {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color:var(--share-bg);
    /* border:1px solid blue; */
    position: relative;
    z-index:10;
}

.share-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


.share-div-active {
    display: none;
    background-color: var(--heading-color);
}

.share-div-active > p {
    font-size:1.6rem;
    letter-spacing:2.5px;
}
.show-share-div-active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    right:-70%;
    top: -35%;

    box-shadow:var(--body-bg) 0px 15px 25px, var(--paragraph-color) 0px 5px 10px;
}

.share-div-active::after {
    content:"";
    width: 0px;
    height: 0px;
    border-top: 10px solid var(--heading-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position:absolute;
    bottom:-20px;
    right: 38%;
}

@media only screen and (max-width:768px) {
    html {
        font-size: 55%;
    }

    body {
        padding: 4rem 0;
    }
    main {
        width: 80%;
    }

    .product-image {
        border-radius: 3rem 3rem 0 0;
    }

    .text-div {
        border-radius: 0 0 3rem 3rem;
        /* border:1px solid blue; */
    }

    h1 {
        margin-bottom: 1rem;
    }

    .text-div > p {
        margin-bottom: 2.5rem;
        line-height:1.4;
    }

    .share-div {
        background-color:var(--body-bg);
    }
    .show-share-div-active {
        width: 100%;
        height: auto;
        padding: 2rem 2rem 3rem;
        position:absolute;
        left:0;
        top:77%;
        /* bottom:0; */
        /* border:1px solid green; */
        border-radius:0 0 3rem 3rem;
        box-shadow: none;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .show-share-div-active > p {
        font-size:1.6rem;
    }
    .show-share-div-active::after {
        border-top: none;
        border-right:none;
        border-left: none;
        border-bottom: none;
    }

    .share-div-active-bg {
        background-color:var(--paragraph-color);
    }
    .share-icon-active {
        filter: brightness(0) invert(1);
    }

    .logo {
        width:3em;
        height:3rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size:50%;
    }

    .show-share-div-active {
        top:81%;
    }

    .share-div {
        width:4rem;
        height:4rem;
    }
}

