/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    font-family:'Manrope', sans-serif;
    --body-bg:hsl(210, 46%, 95%);
    --paragraph-color:hsl(214, 17%, 51%);
    --heading-color:hsl(217, 19%, 35%);
    --share-bg:hsl(210, 46%, 95%);
}
body {
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

h1 {
    font-size:5rem;
    color: var(--heading-color);
    font-weight: 700;
}

p {
    color: var(--paragraph-color);
}

/* MOBILE STYLES */
main {
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    /* border:1px solid red; */
    border-radius:3rem;
}

/* PRODUCT MOBILE STYLES */
.product-image {
    width: 100%;
    border-radius: 3rem 3rem 0 0;
}

/* MOBILE TEXT DIV STYLES */

.text-div {
    padding:6rem 6rem 0rem;
    background-color:white;
    border-radius:0 0 3rem 3rem;
}

h1 {
    margin-bottom:2rem ;
}

.text-div > p {
    margin: 4rem 0;
    line-height:1.6;
    font-size:3.8rem;
}

.author-div {
    display: flex;
    justify-content:space-between;
    padding:2.5rem 0;
    /* border:1px solid red; */
    /* margin: 3rem 0; */
}

.avatar-div {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 90px;
    height:90px;
    border-radius:50%;
    margin-right:2rem;
}

.author-details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-details p {
    font-size:2.8rem;
}

.author-name {
    font-weight: bold;
}
.share-div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--share-bg);
}

.share-icon {
    /* border: 1px solid red; */
    width: 60px;
    height: 60px;
    padding:1rem;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ACTIVE STATE STYLES MOBILE */
.share-div-active {
    background-color: var(--heading-color);
    padding:2.5rem 6rem;
    /* border:1px solid red; */
    border-radius: 0 0 3rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share-div-active p {
    color: var(--paragraph-color);
    font-size:3.5rem;
    margin-right:5rem;
    letter-spacing: 1.5rem;
}
.share-social-icons {
    display: flex;
}

.logo {
    width:60px;
    height:60px;
    margin-right:3rem;
}
.share-div-2 {
    /* border:1px solid red; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background-color: var(--paragraph-color);
}
.share-icon-2 {
    filter:brightness(0) invert(1);
    position:absolute;
    width:60px;
    height:60px;
    top: 50%;
    left:50%;
    padding:1.5rem;
    transform:translate(-50%, -50%);
}